name: "Testing"
on: [push, pull_request]

jobs:
  test:
    strategy:
      matrix:
        os: [macos-latest, ubuntu-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: true
      - name: Init cache
        uses: Swatinem/rust-cache@v2
      - name: Install dependencies (Ubuntu only)
        if: matrix.os == 'ubuntu-latest'
        run: |
          sudo apt-get install -y libdbus-1-dev
      - name: Set toolchain version
        run: |
          rustup override set 1.76
          rustup component add rustfmt
      - name: cargo check
        run: cargo check
      - name: cargo fmt
        run: cargo fmt --all -- --check
      - name: cargo build
        run: cargo build
      - name: cargo clippy
        run: |
          rustup override set 1.80
          rustup component add clippy
          cargo clippy -- -D warnings
      - name: cargo test
        run: cargo +1.76.0 test --all-features
